<h1>Sample App</h1>

<p>
  Hi <%= @greeting %>,
</p>
<p>
  Welcome to the Sample App! Click on the link below to activate your account:
</p>

<p>
activation_url: <%= @activation_url%>
</p>
<a href="<%= @activation_url %>">Activate</a>
